<h1>Hi!!!!!
<br>hello</h1>
<!-- <p>Find me in app/views/say/hello.html.erb</p>
 -->
 Now,the time is <%= @time %>

 <!-- Say <a href="/say/goodbye">Gud bye</a> -->
 <br>

 Add :<%= 5+5 %>
 <br>
<% @files.each do |file| %>
   <ul>file name is: <%= file %></ul>
<% end %>
 <br>
 your time in an hour : <%= 1.hour.from_now.localtime %>
<br>
<br>
 <%= link_to "GoodBye", say_goodbye_path %> <%= " lovesy" + " jacob" %>
