<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Depot</title>
    <%= csrf_meta_tags %>
=======
    <title>MyProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
>>>>>>> 4a2ff0814fedb40561907d0358eeda8a46ac3c28

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <main class='<%= controller.controller_name %>'>
      <%= yield %>
    </main>
=======
    <%= yield %>
>>>>>>> 4a2ff0814fedb40561907d0358eeda8a46ac3c28
  </body>
</html>
